* {
    margin: 0;
}
.heading {
    background-color: black;
    /* color: aliceblue; */
    padding: 0 55px;
    display: flex;
    justify-content: space-between;

}


.togglebar {
    margin: 1.4rem;

}

#log-in{
    margin: 1.4rem 0.01rem;
    padding: 1rem 1.6rem;
    
    
}
#log-in button {
    background-color: rgb(235, 179, 106);
    padding: .7rem .98rem;
    cursor: pointer;
    border-style: none;
    border-radius: 9px;
    font-size: .96rem;
    
}
.web-title {
    color: rgb(238, 69, 69);
    padding: 40px 19px;
    font-size: 1.92rem;
    cursor: pointer;
}
#trend-container{
    padding: 0 55px;
}
.container{
    background-image: linear-gradient( red, black);
    padding: 0 55px;
    display: flex;
    /* align-items: center; */
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;

}
#sidebar {
    background-color: black;
    width: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 180px;
        position: fixed;
        top: 0;
        
        
    }
    
    .left-menu-icon {
        color: white;
        font-size: 20px;
        margin-bottom: 40px;
}

.movie-list {
    padding: 20px;
    width:24rem ;
}


.movie-list-title{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.movie-list-intro {
    color: ghostwhite;
    font-size: 1.19rem;
}
.like-area {
    /* background-color: black; */
    color: white;
    width: 135px;
     /*height: 40px; */
    /* border: 2px solid red; */
    padding: 15px;
}
.like-icon{
    color: white;
    font-size: 25px;
}
.movie-list-image {
    width: 400px;
    cursor: pointer;
    transition: all is ease-in-out;  /*I HAVE TO ATTEND TO THIS ASAP!!! */
    height: 16rem;
    object-fit: cover;
    border-radius: 11px;
}


.movie-list-button {
    padding: .7rem 1rem;
    color: gray;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
}