* {
    margin: 0;
}
.heading {
    background-color: black;
    padding: 0 55px;
    display: flex;
    justify-content: space-between;

}

/* #trending{
    margin:2% 20% ;
} */

#log-in{
    margin: 1.4rem 0.01rem;
    padding: 1rem 1.6rem;
    
    
}
#log-in button {
    background-color: rgb(235, 179, 106);
    padding: .7rem .98rem;
    cursor: pointer;
    border-style: none;
    border-radius: 9px;
    font-size: .96rem;
    
}
.web-title {
    color: rgb(238, 69, 69);
    padding: 40px 19px;
    font-size: 1.92rem;
    cursor: pointer;
}
#trend-container{
    padding: 0 55px;
}
.container{
    background-image: linear-gradient( red, rgb(100, 0, 0));
    padding: 0 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#sidebar {
    background-color: black;
    width: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 180px;
        position: fixed;
        top: 0;
        
        
    }
    
    .left-menu-icon {
        color: white;
        font-size: 20px;
        margin-bottom: 40px;
}

.movie-list {
    padding: 20px;
    width:24rem ;
}


.movie-list-title{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.movie-list-intro {
    color: ghostwhite;
    font-size: 1.19rem;
}
.like-area {
    color: white;
    width: 135px;
    padding: 15px;
}
.likeicon{
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.movie-list-image {
    width: 100%;
    cursor: pointer;
    transition: all is ease-in-out;  /*I HAVE TO ATTEND TO THIS ASAP!!! */
    height: 16rem;
    object-fit: cover;
    border-radius: 11px;
}


.movie-list-button {
    padding: .7rem 1rem;
    color: gray;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
}
.movie-list-button:hover{
    background-color: burlywood;
}

.footer {
    background-color: black;
    color: white;
    /* margin: 0; */
    padding: 5% 20%;
    width: 100%;
    font-size: 1.2rem;
}
.footer-input {
    padding: 0 2rem;
    display: flex;
}
.footer input {
    width: 40%;
    margin-top: 1.5rem;
    margin-right: 1rem;
        border: none;
        outline: none;
        border-radius: 10px;
        background: rgb(235, 235, 191);
        font-size: 1.02rem;
}

.footer-input button {
    padding: .5rem 1rem;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    border-radius: 10px;
}

.footer button:hover{
    background-color: rgb(194, 169, 131);
    cursor: pointer;
    font-size:.9rem ;
}
@media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .heading {
        padding: 0;
        height: 7rem;
        width: 100%;
    }
        #sidebar {
            background-color: transparent;
        }
.web-title {
    color: rgb(238, 69, 69);
    padding: 20px 12px;
    font-size: 1.72rem;
    cursor: pointer;
}
#log-in {
    margin: 1.4rem 0.01rem;
    padding: 1rem 1.6rem;


}

#log-in button {
    background-color: rgb(235, 179, 106);
    padding: .5rem .5rem;
    cursor: pointer;
    border-style: none;
    border-radius: 9px;
    font-size: .7rem;
}
.container {
    padding: 0;
    width: 100%;
}
.movie-list {
    padding: 20px 22px;
    width: 22rem;
}


.movie-list-title {
    font-size: 1.0rem;
    font-weight: bold;
    cursor: pointer;
}

.movie-list-intro {
    color: ghostwhite;
    font-size: .9rem;
}
.movie-list-image {
    width: 100%;
}
#trend-container {
    padding: 0;
    width: 100%;
}
.movie-list-button {
    font-size: .8rem;
    padding: .5rem .8rem;
    margin-top: 1rem;
}
.likeicon {
    font-size: 18px;
}
}